@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
.flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .lg\\:space-x-6 > * + * {
    margin-left: 1.5rem;
  }
  